*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
    font-family: Arial, sans-serif;
}

.box{
    width: 200px;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
    margin-bottom: 20px;
}

/* 1. Static */
.static-box{
    background-color: steelblue;
    position: static;
}

/* 2. Relative */
.relative-box{
    background-color: green;

    position: relative;
    top: 20px;
    left: 50px;
}

/* 3. Absolute */
.parent{
    width: 500px;
    height: 250px;
    border: 3px solid red;

    position: relative;
    margin-bottom: 40px;
}

.absolute-box{
    background-color: purple;

    position: absolute;
    top: 20px;
    right: 20px;
}

/* 4. Fixed */
.fixed-box{
    background-color: black;

    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* 5. Sticky */
.sticky-box{
    background-color: orange;
    padding: 15px;

    position: sticky;
    top: 0;
}

.content{
    height: 1500px;
}