

body {
    font-family: Arial, sans-serif;
    padding: 30px;
}


h1 {
    margin-bottom: 20px;
}


#output {
    padding: 20px;
    border: 1px solid black;
    line-height: 1.8;
}


.example {
    margin-bottom: 10px;
}





.numberConversionTitle {
    font-family: Arial, sans-serif;
    padding: 20px;
}



.numberConversionResult {
    border: 1px solid black;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.8;
}