*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Phase 2 - Try Catch */
.eh-p2-wrapper {
    width: 500px;
    margin: 50px auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

#ehP2Heading {
    margin-bottom: 20px;
}

.ehP2-btn {
    padding: 10px 15px;
    margin: 5px;
}

#ehP2Result {
    margin-top: 20px;
    padding: 12px;
    min-height: 25px;
}


/* Phase 3 - Finally */
.eh-p3-container {
    width: 550px;
    margin: 50px auto;
    padding: 25px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.eh-p3-container button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}

#ehP3Result {
    margin-top: 20px;
    padding: 12px;
    font-size: 18px;
}


/* Phase 4 - Throw new error */
.eh-p4-container {
    width: 550px;
    margin: 50px auto;
    padding: 25px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.eh-p4-container button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}

#ehP4Result {
    margin-top: 20px;
    padding: 12px;
    min-height: 25px;
    font-size: 18px;
}

/* Phase 5 — Built-in Error Types */
.eh-p5-container {
    width: 600px;
    margin: 50px auto;
    padding: 25px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.eh-p5-container button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}

#ehP5Result {
    margin-top: 20px;
    padding: 15px;
    font-size: 17px;
    min-height: 25px;
}


/* PHASE 8 - PROMISE ERROR HANDLING  */
.eh-p8-container {
    width: 520px;
    margin: 40px auto;
    padding: 25px;

    text-align: center;

    border: 2px solid #333;
    border-radius: 10px;
}

.eh-p8-container button {
    display: block;

    width: 100%;

    margin: 8px 0;
    padding: 10px;

    cursor: pointer;
}

.eh-p8-container p {
    margin-top: 20px;
    padding: 15px;

    background: #f1f1f1;
}